/* Title */
#title{
  background-color: #1E2022;
  color: white;
  text-align: left;
}

.title-text{
   font-family: 'Montserrat', sans-serif;
   font-size: 3rem;
   line-height: 1.5;
   margin-top: 5rem;
}

body{
  color: #103559;
}
.texto{
  color: #103559;
}
.container-fluid{
  padding: 7% 15%;
}

#title .container-fluid{
  padding: 3% 15% 7%;
  background-image: url("../images/doggoHeader2.jpg");
  background-size: cover;
}

body{
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

h1, h2, h3, h4, h5, h6{
  font-weight: 800;
}


/* Navbar */

.navbar-brand{
  font-weight: 700;
  font-size: 2rem;
}

.navbar{
  padding: 0 0 5rem;
}

.nav-item{
  padding: 0 12px;
}

.nav-link{
  font-size: 1.2rem;
  font-weight: 300;
}

/* Download buttons */

.dwlbtn{
  margin: 100px 20px 0 0;
}

/* Title image*/
.title-image{
  width: 250px;
  transform: rotate(25deg);
  position: absolute;
  right: 30%;
}
.icono{
  margin-right: 10%;
}

.email-container{
  margin-left: 30%;
}
.title-image-column{
  position: relative;
}

@media (max-width: 1000px){
  .title-image{
    position: static;
    width: 150px;
    margin-top: 40px;
  }
  #title{
    text-align: center;
  }

}

/* Features section */
#features{
  background-color: #F0F5F9;
  position: relative;
  z-index: 1;
}

.feature-title{
  font-weight: 700;
}

p{
  color: #8f8f8f;
  font-weight: 600;
}

.features-image{
  color: #ef8172;
  margin-bottom: 1rem;
}
.features-image:hover{
  color: #ff4c98;
}

/* Testimonials */

#testimonials{
  background-color: #1E2022;
  color: white;
  background-image: url("../images/vet1.jpg");
  background-size: cover;
  background-blend-mode: multiply;
}

.testimonials-text{
  line-height: 1.5;
  font-size: 3rem;
  font-weight: 700;
}

.testimonial-image{
  width: 10%;
  border-radius: 100%;
  margin: 2rem;
}
/* Press */

.press-title{
  padding-top: 5%;
}

#press{
  background-color: #F0F5F9;
}

.press-image{
  width: 15%;
  margin: 50px;
}

/* Pricing Section*/

.align-pricing{
  margin-bottom: 57px;
}

.align-pricing-2{
  margin-bottom: 130px;
}

#pricing{
  padding: 100px;
  background-color: #F0F5F9;
}

.pricing-column{
  padding: 3% 2%;
}

.price-number{
  line-height: 1.5;
  font-size: 3rem;
}

.email-text{
  color: #1E2022;
}

/* Call to action */

#cta{
background-color: #1E2022;
color: white;
background-image: url("../images/vet2.jpg");
background-size: cover;
background-blend-mode: multiply;
}

.cta-header{
  line-height: 1.5;
  font-size: 4rem;
}

/* Footer */

#footer{
  background-color: #F0F5F9;
  padding: 5% 0 0 0;
}

.footer-btn{
  padding: 0 10px;
  color: #1E2022;
}
.copyright{
  margin: 30px 0 0 0;
}
